/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/tic-tac-toe/components/board.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.board_square__WwYA_ {
  min-width: 5.5rem;
  height: 5.5rem;
  vertical-align: top;
}

.board_board__cX2Q_ {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;

}


.board_bottom__ki4n0 {
  border-bottom: 3px solid lightgray;
}

.board_bottom_right__Ze9fL {
  border-bottom: 3px solid lightgray;
  border-right: 3px solid lightgray;
}

.board_right__rjEBl {
  border-right: 3px solid lightgray;
}

/* #s3,
#s6 {
  border-bottom: 1px solid lightgray;
}

#s1,
#s2,
#s4,
#s5 {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

#s7,
#s8 {
  border-right: 1px solid lightgray;
} */

