.cards_container {
  padding-top: 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  overflow: hidden;
  padding-bottom: 0.5rem;
  justify-items: center;

}

.open {
  transform: rotateY(180deg);
}

.card_img {
  border-radius: 0.3rem;
  width: 280px;
  height: 280px;
}

.card_inner {
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.85s;
  animation: flip-card 0.85s;
  width: 250px;
  height: 300px;
}

.card_front {
  position: absolute;
  backface-visibility: hidden;
}

.card_back {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.score {
  font-size: larger;
  display: inline-block;
  padding: 0.7rem;
  height: 0.4rem;
}

.lvl-btn {
  background: transparent;
  padding: 2rem 4rem;
  color: aliceblue;
  font-size: x-large;
  font-weight: bold;
}

.lvl-btn:hover {
  transition: all ease-in-out 0.1s;
  color: darkturquoise;
}